{% extends "start.html" %}
{% block content %}
   <p>С вероятностью 
      {% if predict.class == ">50K" %}
         {{ predict.probability }}
      {% else %}
      {{ 1 - predict.probability }}
      {% endif %} человек с данными</p>
   {% for key, value in result.items() %}
      <div>
         {% if key != "csrf_token" %}
         <p>{{ key }}: {{ value }}</p>
         {% endif %}
      </div>
   {% endfor %}
   <p>имеет годовой доход {{predict.class}}</p>   
   <a href="/">Вернуться на главную</a>
{% endblock %}
